.record {
    width: auto;
    background-color: red;
  /*  border: 1px solid black;*/
    flex-grow: 1;
    margin: 1px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;    
    height: 90vh;
    margin: auto;
}
.highlight {
    background-color: green;
}
.swapping {
    background-color: yellow !important;
}